Bulk Fetch - June 1 to Dec 31 2025.json
{
    "nodes": [
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// BULK FETCH: July 30 to August 30, 2025\n\nconst START_UNIX = 1757872800;\nconst END_UNIX = 1760637599;\n\nconst TRACKED_TEAMS = [\n  \"Pro Solutions Task Force\",\n  \"CEx Reversal\",\n  \"Ticket Dependencies\",\n  \"Payments and Treasury\",\n  \"GB Email Communication\",\n  \"Tech Team\",\n  \"Business Operations\",\n  \"Platform Operations\",\n  \"Case Resolution\"\n];\n\nconst CEX_GROUP = [\"Pro Solutions Task Force\", \"CEx Reversal\", \"Ticket Dependencies\"];\n\nfunction getTeamCode(teamName) {\n  const tn = (teamName || \"\").toLowerCase();\n  if (tn.includes(\"pro solutions\") || tn.includes(\"cex reversal\") || tn.includes(\"ticket dependencies\")) return \"CEx\";\n  if (tn.includes(\"business operations\")) return \"BO\";\n  if (tn.includes(\"payments\") || tn.includes(\"treasury\") || tn.includes(\"gb email\")) return \"PT\";\n  if (tn.includes(\"platform operations\")) return \"PO\";\n  if (tn.includes(\"tech team\")) return \"TT\";\n  if (tn.includes(\"case resolution\")) return \"CR\";\n  return \"\";\n}\n\nconst TEAM_WORKING_HOURS = {\n  \"CEx\": { start: 0, end: 24 },\n  \"PT\": { start: 9, end: 18 },\n  \"TT\": { start: 9, end: 18 },\n  \"PO\": { start: 8.5, end: 17.5 },\n  \"CR\": { start: 8.5, end: 17.5 },\n  \"BO\": { start: 8.5, end: 17.5 }\n};\n\nconst SLA_LIMITS = {\n  \"CEx\": { weekdayOffice: 1, weekdayAfter: 1, weekendOffice: 1, weekendAfter: 1 },\n  \"BO\": { weekdayOffice: 12, weekdayAfter: 24, weekendOffice: 12, weekendAfter: 24 },\n  \"PT\": { weekdayOffice: 12, weekdayAfter: 12, weekendOffice: 24, weekendAfter: 24 },\n  \"PO\": { weekdayOffice: 3, weekdayAfter: 18, weekendOffice: 24, weekendAfter: 24 },\n  \"TT\": { weekdayOffice: 8, weekdayAfter: 20, weekendOffice: 72, weekendAfter: 72 },\n  \"CR\": { weekdayOffice: 3, weekdayAfter: 17, weekendOffice: 54, weekendAfter: 54 }\n};\n\nfunction stripHtml(html) {\n  if (!html) return \"\";\n  return String(html).replace(/<br\\s*\\/?>/gi, \"\\n\").replace(/<\\/p>/gi, \"\\n\").replace(/<[^>]+>/g, \" \").replace(/\\s+/g, \" \").trim();\n}\n\nfunction toISODate(unixSeconds) {\n  const n = (typeof unixSeconds === \"number\") ? unixSeconds : parseInt(unixSeconds, 10);\n  if (!n || Number.isNaN(n)) return \"\";\n  const gmt6Epoch = (n + 21600) * 1000;\n  return new Date(gmt6Epoch).toISOString().slice(0, 10);\n}\n\nfunction norm(s) { return (s || \"\").toString().trim().toLowerCase(); }\n\nfunction getAuthor(part) {\n  const a = part?.author || part?.created_by || part?.creator || {};\n  return { id: a?.id ? String(a.id) : \"\", name: a?.name || \"\", email: a?.email || \"\", type: a?.type || \"\" };\n}\n\nfunction formatDuration(seconds) {\n  if (!seconds || seconds < 0) return \"\";\n  const days = Math.floor(seconds / 86400);\n  const hours = Math.floor((seconds % 86400) / 3600);\n  const minutes = Math.floor((seconds % 3600) / 60);\n  let result = \"\";\n  if (days > 0) result += days + \"d \";\n  if (hours > 0) result += hours + \"h \";\n  if (minutes > 0 || result === \"\") result += minutes + \"m\";\n  return result.trim();\n}\n\nfunction isWithinWorkingHours(unixTimestamp, teamCode) {\n  if (!unixTimestamp || !teamCode) return true;\n  const hours = TEAM_WORKING_HOURS[teamCode];\n  if (!hours) return true;\n  const gmt6Ms = (unixTimestamp + 21600) * 1000;\n  const date = new Date(gmt6Ms);\n  const hour = date.getUTCHours() + date.getUTCMinutes() / 60;\n  return hour >= hours.start && hour < hours.end;\n}\n\nfunction isWeekend(unixTimestamp) {\n  if (!unixTimestamp) return false;\n  const gmt6Ms = (unixTimestamp + 21600) * 1000;\n  const date = new Date(gmt6Ms);\n  const day = date.getUTCDay();\n  return day === 0 || day === 6;\n}\n\nfunction getSlaLimitHours(teamCode, isWeekendDay, isDuringOfficeHours) {\n  const limits = SLA_LIMITS[teamCode];\n  if (!limits) return 24;\n  if (isWeekendDay) return isDuringOfficeHours ? limits.weekendOffice : limits.weekendAfter;\n  return isDuringOfficeHours ? limits.weekdayOffice : limits.weekdayAfter;\n}\n\nconst ticket = $json || {};\nconst idCandidates = [ticket.id, ticket.ticket?.id, ticket.conversation_id, ticket.ticket_id];\nlet intercomId = \"\";\nfor (const c of idCandidates) { if (c && String(c).length > 5) { intercomId = String(c); break; } }\n\nconst ticketDisplayId = String(ticket.ticket_id || ticket.id || \"\");\nconst ticketState = norm(ticket.ticket_state || ticket.state || \"\");\nconst ticketStateLabel = ticket.ticket_state_internal_label || ticket.ticket_state_external_label || ticket.ticket_state || \"\";\nconst isResolved = (ticketState === \"resolved\" || ticketState === \"closed\");\n\nlet productType = \"\";\nconst ticketAttrs = ticket.ticket_attributes || {};\nfor (const key of Object.keys(ticketAttrs)) {\n  if (key.toLowerCase().includes(\"product\") && key.toLowerCase().includes(\"type\")) { productType = String(ticketAttrs[key] || \"\"); break; }\n}\nif (!productType && ticketAttrs[\"Product Type\"]) productType = String(ticketAttrs[\"Product Type\"]);\nconst ptLower = productType.toLowerCase();\nif (ptLower === \"cfds\" || ptLower === \"cfd\") productType = \"CFD\";\nelse if (ptLower === \"futures\") productType = \"Futures\";\nelse if (ptLower.includes(\"stellar\") || ptLower.includes(\"instant\")) productType = \"CFD\";\n\nlet issueCategory = \"\";\nif (ticket.ticket_type && ticket.ticket_type.name) issueCategory = ticket.ticket_type.name;\nelse if (ticket.custom_attributes && ticket.custom_attributes.ticket_type) issueCategory = ticket.custom_attributes.ticket_type;\nif (!issueCategory) { const titleRaw = ticket?.ticket_attributes?._default_title_ || ticket?.title || ticket?.subject || \"\"; issueCategory = stripHtml(titleRaw); }\n\nconst contact = (ticket?.contacts?.contacts && ticket.contacts.contacts[0]) || (Array.isArray(ticket?.contacts) ? ticket.contacts[0] : null);\nconst contactName = contact?.name || \"\";\nconst contactEmail = contact?.email || \"\";\n\nlet parts = ticket.ticket_parts || [];\nif (!Array.isArray(parts)) { const tp = ticket.ticket_parts || {}; parts = Array.isArray(tp.ticket_parts) ? tp.ticket_parts : (Array.isArray(tp.data) ? tp.data : []); }\nparts.sort((a, b) => (a?.created_at || 0) - (b?.created_at || 0));\n\nconst ticketCreatedAt = ticket.created_at || 0;\nlet resolvedAt = 0;\nlet resolverFromCloseEvent = \"\";\n\nif (isResolved && ticket.state_updated_at && ticket.state_updated_at > 0) resolvedAt = ticket.state_updated_at;\nif (!resolvedAt) {\n  for (const p of parts) {\n    const currentState = norm(p?.ticket_state || p?.ticket_state_internal_label || \"\");\n    const partCreatedAt = p.created_at || 0;\n    const isResolvedState = currentState.includes(\"resolved\") || currentState.includes(\"closed\");\n    if (isResolvedState && partCreatedAt > resolvedAt) { resolvedAt = partCreatedAt; const au = getAuthor(p); if (au.type === \"admin\" && au.name) resolverFromCloseEvent = au.name; }\n  }\n}\nif (!resolvedAt && isResolved) resolvedAt = ticket.created_at || 0;\n\nconst resolutionTimeSeconds = (resolvedAt && ticketCreatedAt && resolvedAt > ticketCreatedAt) ? (resolvedAt - ticketCreatedAt) : 0;\nconst resolutionTime = formatDuration(resolutionTimeSeconds);\n\nconst resolvedInJanuary = (resolvedAt >= START_UNIX && resolvedAt <= END_UNIX);\nconst resolvedDateStr = toISODate(resolvedAt);\n\nlet creatorName = \"\"; let creatorEmail = \"\";\nconst firstAdminPart = parts.find(p => getAuthor(p).type === \"admin\");\nif (firstAdminPart) { const au = getAuthor(firstAdminPart); creatorName = au.name; creatorEmail = au.email; }\nelse { creatorName = contactName; creatorEmail = contactEmail; }\n\nconst teamsVisited = new Set();\nlet allAssignmentTimes = [];\nlet lastAdminNoteText = \"\";\nlet lastAssignedAdmin = \"\";\n\nconst currentTeamId = String(ticket.team_assignee_id || \"\");\nconst sd = $getWorkflowStaticData('global');\nconst teamIdToName = sd.teamIdToName || {};\nconst currentTeamName = teamIdToName[currentTeamId] || \"\";\nif (currentTeamName) teamsVisited.add(currentTeamName);\n\nfor (const p of parts) {\n  const au = getAuthor(p);\n  const body = stripHtml(p?.body || p?.comment || p?.note || \"\");\n  const partType = norm(p?.part_type || p?.event_type || p?.type || \"\");\n  const partCreatedAt = p.created_at || 0;\n  if (norm(au.type) === \"admin\" && body) lastAdminNoteText = body;\n  const assignedTo = p.assigned_to || p.assignee || {};\n  if (assignedTo.type === \"team\") { const teamId = String(assignedTo.id || \"\"); const teamName = assignedTo.name || teamIdToName[teamId] || \"\"; if (teamName) teamsVisited.add(teamName); }\n  if (partType.includes(\"assign\") || partType === \"team_assignment\") { if (partCreatedAt > 0) allAssignmentTimes.push(partCreatedAt); if (assignedTo.type === \"admin\" && assignedTo.name) lastAssignedAdmin = assignedTo.name; }\n}\n\nlet handlerName = resolverFromCloseEvent || lastAssignedAdmin || \"\";\nlet agentHandleTime = \"\"; let agentHandleTimeSeconds = 0;\nif (resolvedAt) {\n  const validAssignments = allAssignmentTimes.filter(t => t > 0 && t <= resolvedAt).sort((a, b) => b - a);\n  if (validAssignments.length > 0) { agentHandleTimeSeconds = resolvedAt - validAssignments[0]; agentHandleTime = formatDuration(agentHandleTimeSeconds); }\n  else { agentHandleTimeSeconds = resolvedAt - ticketCreatedAt; agentHandleTime = formatDuration(agentHandleTimeSeconds); }\n}\n\nconst uniqueTeamsCount = teamsVisited.size;\nconst isPSTFtoCExReversal = (uniqueTeamsCount === 2 && teamsVisited.has(\"Pro Solutions Task Force\") && teamsVisited.has(\"CEx Reversal\"));\nlet ticketSlaApplicable = (uniqueTeamsCount <= 1 || isPSTFtoCExReversal);\n\nlet slaLimitHours = 24;\nconst teamCode = getTeamCode(currentTeamName);\nconst isCExGroup = (teamCode === \"CEx\");\nif (isCExGroup) slaLimitHours = 1;\nelse if (teamCode) { const isWeekendDay = isWeekend(ticketCreatedAt); const isDuringOfficeHours = isWithinWorkingHours(ticketCreatedAt, teamCode); slaLimitHours = getSlaLimitHours(teamCode, isWeekendDay, isDuringOfficeHours); }\nconst slaLimitSeconds = slaLimitHours * 3600;\n\nlet ticketSlaStatus = \"N/A\";\nif (ticketSlaApplicable && resolutionTimeSeconds > 0) ticketSlaStatus = (resolutionTimeSeconds <= slaLimitSeconds) ? \"Met\" : \"Missed\";\nlet agentSlaStatus = \"N/A\";\nif (agentHandleTimeSeconds > 0) agentSlaStatus = (agentHandleTimeSeconds <= slaLimitSeconds) ? \"Met\" : \"Missed\";\nlet resolvedDuringOfficeHours = null;\nif (resolvedAt && teamCode) resolvedDuringOfficeHours = isWithinWorkingHours(resolvedAt, teamCode);\n\nconst qualifies = isResolved && resolvedInJanuary && intercomId.length > 5;\nif (!qualifies) sd.consecutiveFailures = (sd.consecutiveFailures || 0) + 1;\nelse sd.consecutiveFailures = 0;\n\nconst teamColumns = {};\nfor (const teamName of TRACKED_TEAMS) teamColumns[teamName] = teamsVisited.has(teamName) ? \"Yes\" : \"\";\n\nreturn {\n  json: {\n    \"_filter_passed\": qualifies,\n    \"unique_id\": resolvedDateStr + \"|\" + ticketDisplayId,\n    \"date\": resolvedDateStr,\n    \"ticket_id\": ticketDisplayId,\n    \"intercom_id\": intercomId,\n    \"ticket_creator_agent_name\": creatorName,\n    \"ticket_handler_agent_name\": handlerName,\n    \"resolution_time\": resolutionTime,\n    \"agent_handle_time\": agentHandleTime,\n    \"ticket_status\": ticketStateLabel,\n    \"sla\": ticketSlaStatus,\n    \"sla_limit_hours\": slaLimitHours,\n    \"product_type\": productType,\n    \"resolved_during_office_hours\": resolvedDuringOfficeHours,\n    \"current_team\": currentTeamName,\n    \"issue_category\": issueCategory,\n    \"description_last_ticket_note\": lastAdminNoteText,\n    \"forwarded\": false,\n    \"forwarded_to\": \"\",\n    \"ticket_creator_email\": creatorEmail,\n    \"pro_solutions_task_force\": teamColumns[\"Pro Solutions Task Force\"],\n    \"cex_reversal\": teamColumns[\"CEx Reversal\"],\n    \"ticket_dependencies\": teamColumns[\"Ticket Dependencies\"],\n    \"payments_and_treasury\": teamColumns[\"Payments and Treasury\"],\n    \"gb_email_communication\": teamColumns[\"GB Email Communication\"],\n    \"tech_team\": teamColumns[\"Tech Team\"],\n    \"business_operations\": teamColumns[\"Business Operations\"],\n    \"platform_operations\": teamColumns[\"Platform Operations\"],\n    \"case_resolution\": teamColumns[\"Case Resolution\"],\n    \"ticket_sla_status\": ticketSlaStatus,\n    \"ticket_sla_limit_hours\": slaLimitHours,\n    \"ticket_sla_duration_seconds\": resolutionTimeSeconds,\n    \"agent_sla_status\": agentSlaStatus,\n    \"agent_handle_time_seconds\": agentHandleTimeSeconds\n  }\n};"
            },
            "id": "6f10d0b6-41bb-4ecf-8956-7b4ae7f1968c",
            "name": "Transform Ticket Data4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -192,
                -1472
            ]
        },
        {
            "parameters": {},
            "id": "bulk-manual-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1936,
                -1280
            ]
        },
        {
            "parameters": {
                "jsCode": "const START_UNIX = 1757872800;\nconst END_UNIX = 1760637599;\nconst sd = $getWorkflowStaticData('global');\nsd.consecutiveFailures = 0;\nreturn [{ json: { start_unix: START_UNIX, end_unix: END_UNIX } }];"
            },
            "id": "bulk-gate",
            "name": "Gate: Bulk June-Dec 2025",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1712,
                -1280
            ]
        },
        {
            "parameters": {
                "url": "https://api.intercom.io/teams",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/json"
                        },
                        {
                            "name": "Intercom-Version",
                            "value": "2.11"
                        }
                    ]
                }
            },
            "id": "49c3188c-cf9f-4354-9d49-6ecc5fa48053",
            "name": "List Teams4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1472,
                -1280
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "NP8zyf9bSfqaxMj0",
                    "name": "Bearer Auth account 3"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "function ensureObj(x){ if (!x) return {}; if (typeof x === 'string') try { return JSON.parse(x); } catch { return {}; } return x; }\nconst resp = ensureObj($json);\nconst teams = resp.teams || resp.data || [];\nconst idToName = {};\nconst nameToId = {};\nfor (const t of teams) { if (!t || !t.id) continue; const name = (t.name || '').trim(); idToName[t.id] = name; if (name) nameToId[name.toLowerCase()] = t.id; }\nconst sd = $getWorkflowStaticData('global');\nsd.teamIdToName = idToName;\nsd.teamNameToId = nameToId;\nreturn [{ json: { idToName, nameToId } }];"
            },
            "id": "fe8bbc5d-7b99-4755-97dc-d2c76e32b81c",
            "name": "Build Team Map4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1248,
                -1280
            ]
        },
        {
            "parameters": {
                "jsCode": "const START_UNIX = 1757872800;\nconst END_UNIX = 1760637599;\nconst TEAM_IDS = [\"8314220\",\"9644821\",\"6681977\",\"6533520\",\"6681962\",\"6921111\",\"6547584\",\"6682031\",\"6661069\",\"8009000\"];\nconst teamConditions = TEAM_IDS.map(id => ({ field: \"team_assignee_id\", operator: \"=\", value: id }));\nconst stateConditions = [{ field: \"state\", operator: \"=\", value: \"resolved\" }, { field: \"state\", operator: \"=\", value: \"closed\" }];\nreturn [{ json: { body: { query: { operator: \"AND\", value: [{ field: \"created_at\", operator: \">=\", value: START_UNIX }, { field: \"created_at\", operator: \"<=\", value: END_UNIX }, { operator: \"OR\", value: stateConditions }, { operator: \"OR\", value: teamConditions }]}, pagination: { per_page: 100 }, sort: { field: \"created_at\", order: \"ascending\" }}}}];"
            },
            "id": "160a4ab8-cbab-4300-a5db-27b0e85f12c6",
            "name": "Build HTTP Body4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1040,
                -1280
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.intercom.io/tickets/search",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Intercom-Version",
                            "value": "2.11"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.body }}"
            },
            "id": "8d088765-445a-4fac-8e7e-ca79fa9121be",
            "name": "Search Tickets4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -832,
                -1280
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "3aJKqmWSz1EBLLuh",
                    "name": "Bearer Auth account 4"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const tickets = $json.tickets || [];\nreturn tickets.map(t => ({ json: { id: String(t.id), ticket_id: String(t.ticket_id || \"\"), state: t.state || \"\", updated_at: t.updated_at || 0, team_assignee_id: t.team_assignee_id || \"\" }}));"
            },
            "id": "48263754-8786-4d8e-904f-b123e52318d3",
            "name": "Extract Tickets4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -592,
                -1472
            ]
        },
        {
            "parameters": {
                "url": "=https://api.intercom.io/tickets/{{$json[\"id\"]}}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Intercom-Version",
                            "value": "2.11"
                        }
                    ]
                }
            },
            "id": "fe6bf837-771c-4884-8910-6e0a6b158340",
            "name": "Get Ticket Details4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -384,
                -1472
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "Wb6mK3xsTXEujIUR",
                    "name": "Bearer Auth account 5"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json[\"_filter_passed\"] }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "970ca5d6-8352-46ab-90cf-354db65c2924",
            "name": "Filter Passed?4",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                48,
                -1472
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://umkzssfympyhifdjptwf.supabase.co/rest/v1/ticket_logs?on_conflict=unique_id",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        },
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVta3pzc2Z5bXB5aGlmZGpwdHdmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzk1MzkzMywiZXhwIjoyMDgzNTI5OTMzfQ.uLp84D6LmkkEL5rGgIp-EOuUX_vhNc82n-oHm6qWW-0"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVta3pzc2Z5bXB5aGlmZGpwdHdmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzk1MzkzMywiZXhwIjoyMDgzNTI5OTMzfQ.uLp84D6LmkkEL5rGgIp-EOuUX_vhNc82n-oHm6qWW-0"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ unique_id: $json.unique_id, date: $json.date || null, ticket_id: $json.ticket_id, intercom_id: $json.intercom_id, ticket_creator_agent_name: $json.ticket_creator_agent_name, ticket_handler_agent_name: $json.ticket_handler_agent_name, resolution_time: $json.resolution_time, agent_handle_time: $json.agent_handle_time, ticket_status: $json.ticket_status, sla: $json.sla, sla_limit_hours: $json.sla_limit_hours, product_type: $json.product_type, resolved_during_office_hours: $json.resolved_during_office_hours, current_team: $json.current_team, issue_category: $json.issue_category, description_last_ticket_note: $json.description_last_ticket_note, forwarded: $json.forwarded, forwarded_to: $json.forwarded_to, ticket_creator_email: $json.ticket_creator_email, pro_solutions_task_force: $json.pro_solutions_task_force, cex_reversal: $json.cex_reversal, ticket_dependencies: $json.ticket_dependencies, payments_and_treasury: $json.payments_and_treasury, gb_email_communication: $json.gb_email_communication, tech_team: $json.tech_team, business_operations: $json.business_operations, platform_operations: $json.platform_operations, case_resolution: $json.case_resolution, ticket_sla_status: $json.ticket_sla_status, ticket_sla_limit_hours: $json.ticket_sla_limit_hours, ticket_sla_duration_seconds: $json.ticket_sla_duration_seconds, agent_sla_status: $json.agent_sla_status, agent_handle_time_seconds: $json.agent_handle_time_seconds }) }}"
            },
            "id": "93e9aa26-cfa4-413c-b573-0aff03b778aa",
            "name": "Upsert to Supabase4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                384,
                -1488
            ]
        },
        {
            "parameters": {
                "jsCode": "function ensureObj(x) { if (!x) return {}; if (typeof x === 'string') try { return JSON.parse(x); } catch { return {}; } return x; }\nconst resp = ensureObj($json);\nconst currentBody = JSON.parse(JSON.stringify($(\"Build HTTP Body4\").first().json.body));\nconst nextCursor = resp?.pages?.next?.starting_after ?? null;\nconst sd = $getWorkflowStaticData('global');\nconst circuitBroken = (sd.consecutiveFailures || 0) >= 200;\nconst hasNext = Boolean(nextCursor) && !circuitBroken;\ncurrentBody.pagination = { per_page: 100 };\nif (nextCursor) currentBody.pagination.starting_after = nextCursor;\nreturn [{ json: { body: currentBody, has_next: hasNext, circuit_broken: circuitBroken } }];"
            },
            "id": "e30c6112-b14f-4152-9e47-61f04fad5ea6",
            "name": "Paginate: Prepare next body4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -592,
                -1280
            ]
        },
        {
            "parameters": {},
            "id": "0129330d-d228-4596-a788-2092909afa56",
            "name": "Merge4",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                -256,
                -1232
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.has_next }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "007ed3cd-db74-4602-b0be-c0b5d1a49240",
            "name": "If (Has Next Page?)4",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                80,
                -1232
            ]
        }
    ],
    "connections": {
        "Transform Ticket Data4": {
            "main": [
                [
                    {
                        "node": "Filter Passed?4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Gate: Bulk June-Dec 2025",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gate: Bulk June-Dec 2025": {
            "main": [
                [
                    {
                        "node": "List Teams4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "List Teams4": {
            "main": [
                [
                    {
                        "node": "Build Team Map4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Team Map4": {
            "main": [
                [
                    {
                        "node": "Build HTTP Body4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build HTTP Body4": {
            "main": [
                [
                    {
                        "node": "Search Tickets4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Tickets4": {
            "main": [
                [
                    {
                        "node": "Paginate: Prepare next body4",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Extract Tickets4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Tickets4": {
            "main": [
                [
                    {
                        "node": "Get Ticket Details4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Ticket Details4": {
            "main": [
                [
                    {
                        "node": "Transform Ticket Data4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Passed?4": {
            "main": [
                [
                    {
                        "node": "Upsert to Supabase4",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Merge4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert to Supabase4": {
            "main": [
                [
                    {
                        "node": "Merge4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Paginate: Prepare next body4": {
            "main": [
                [
                    {
                        "node": "Merge4",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge4": {
            "main": [
                [
                    {
                        "node": "If (Has Next Page?)4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If (Has Next Page?)4": {
            "main": [
                [
                    {
                        "node": "Search Tickets4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "bulk-january-fetch"
    }
}