PSTF Automation Trial 3 (1).json
{
    "nodes": [
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// FIXED: Use actual resolution timestamp for Date/SLA, STRICT resolver detection, and Forwarded tracking\n\n// TEAM IDs (discovered from Intercom)\nconst CEX_REVERSAL_TEAM_ID = \"6682031\";\nconst PSTF_TEAM_ID = \"6661069\";\nconst TICKET_DEPENDENCIES_TEAM_ID = \"8009000\";\n\n// Invalid ticket code to detect\nconst INVALID_TICKET_CODE = \"404_invalid\";\n\n// Forwarded code and team names to detect\nconst FORWARD_CODE = \"fwd\";\nconst FORWARD_TEAMS = [\"PO\", \"TT\", \"CR\", \"PT\", \"BO\"]; // BO also matches BOps\n\n// HANDLER ALLOWLIST - Real resolvers only (NO BOTS)\nconst ALLOWED_AGENTS = [\n  \"Jane Megan\", \"Fredy Martinez\", \"Sandro Jerome\", \"Jack Carter\",\n  \"Tyson Mayne\", \"Willium Grace\", \"Prina Isabella\", \"Sammy Sage\",\n  \"Ricky Ron\", \"Danny Archer\", \"Ben Clark\", \"Zoe Castillo\",\n  \"Sam Fisher\", \"Aiden Garcia\"\n];\n\nfunction stripHtml(html) {\n  if (!html) return \"\";\n  return String(html)\n    .replace(/<br\\s*\\/?>/gi, \"\\n\")\n    .replace(/<\\/p>/gi, \"\\n\")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction toISODate(unixSeconds) {\n  const n = (typeof unixSeconds === \"number\") ? unixSeconds : parseInt(unixSeconds, 10);\n  if (!n || Number.isNaN(n)) return \"\";\n  return new Date(n * 1000).toISOString().slice(0, 10);\n}\n\nfunction norm(s) { return (s || \"\").toString().trim().toLowerCase(); }\n\nfunction getAuthor(part) {\n  const a = part?.author || part?.created_by || part?.creator || {};\n  return {\n    id: a?.id ? String(a.id) : \"\",\n    name: a?.name || \"\",\n    email: a?.email || \"\",\n    type: a?.type || \"\"\n  };\n}\n\n// Format duration in human-readable format (e.g., \"2d 5h 30m\")\nfunction formatDuration(seconds) {\n  if (!seconds || seconds < 0) return \"\";\n  const days = Math.floor(seconds / 86400);\n  const hours = Math.floor((seconds % 86400) / 3600);\n  const minutes = Math.floor((seconds % 3600) / 60);\n  \n  let result = \"\";\n  if (days > 0) result += days + \"d \";\n  if (hours > 0) result += hours + \"h \";\n  if (minutes > 0 || result === \"\") result += minutes + \"m\";\n  return result.trim();\n}\n\nconst ALLOWED_SET = new Set(ALLOWED_AGENTS.map(n => norm(n)));\nfunction isAllowedAgent(name) {\n  return name ? ALLOWED_SET.has(norm(name)) : false;\n}\n\n// Function to extract forwarded team from note text\nfunction extractForwardTeam(noteText) {\n  const lower = noteText.toLowerCase();\n  // Check for BOps first (maps to BO)\n  if (lower.includes(\"bops\")) {\n    return \"BO\";\n  }\n  // Check for each team code (case-insensitive, as standalone word)\n  for (const team of FORWARD_TEAMS) {\n    const teamLower = team.toLowerCase();\n    // Use regex to find team code as word (not part of another word)\n    const regex = new RegExp('\\\\b' + teamLower + '\\\\b', 'i');\n    if (regex.test(noteText)) {\n      return team; // Return the standardized team name\n    }\n  }\n  return \"\";\n}\n\n// Get ticket data from input\nconst ticket = $json || {};\n\nconst ticketDisplayId = String(ticket.ticket_id || ticket.id || \"\");\nconst ticketState = norm(ticket.ticket_state || ticket.state || \"\");\nconst ticketStateLabel = ticket.ticket_state_internal_label || ticket.ticket_state_external_label || ticket.ticket_state || \"\";\nconst isResolved = (ticketState === \"resolved\" || ticketState === \"closed\");\n\nlet issueCategory = \"\";\nif (ticket.ticket_type && ticket.ticket_type.name) {\n  issueCategory = ticket.ticket_type.name;\n} else if (ticket.custom_attributes && ticket.custom_attributes.ticket_type) {\n  issueCategory = ticket.custom_attributes.ticket_type;\n}\nif (!issueCategory) {\n  const titleRaw = ticket?.ticket_attributes?._default_title_ || ticket?.title || ticket?.subject || \"\";\n  issueCategory = stripHtml(titleRaw);\n}\n\nconst contact = (ticket?.contacts?.contacts && ticket.contacts.contacts[0]) || (Array.isArray(ticket?.contacts) ? ticket.contacts[0] : null);\nconst contactName = contact?.name || \"\";\nconst contactEmail = contact?.email || \"\";\n\nlet parts = ticket.ticket_parts || [];\nif (!Array.isArray(parts)) {\n  const tp = ticket.ticket_parts || {};\n  parts = Array.isArray(tp.ticket_parts) ? tp.ticket_parts : (Array.isArray(tp.data) ? tp.data : []);\n}\nparts.sort((a, b) => (a?.created_at || 0) - (b?.created_at || 0));\n\n// Find close/resolution event and resolution time\nconst ticketCreatedAt = ticket.created_at || 0;\nlet resolvedAt = 0;\nlet resolverFromCloseEvent = \"\";\n\n// Look for state change to resolved/closed events or close event\nfor (const p of parts) {\n  const partType = norm(p?.part_type || p?.event_type || p?.type || \"\");\n  const stateLabel = norm(p?.ticket_state_internal_label || p?.ticket_state || p?.new_state || \"\");\n  const body = norm(p?.body || \"\");\n  \n  // Check for state change to resolved\n  if (partType.includes(\"state\") && (stateLabel.includes(\"resolved\") || stateLabel.includes(\"closed\"))) {\n    if (p.created_at && p.created_at > resolvedAt) {\n      resolvedAt = p.created_at;\n      const au = getAuthor(p);\n      if (au.type === \"admin\" && au.name) {\n        resolverFromCloseEvent = au.name;\n      }\n    }\n  }\n  \n  // Also check for explicit close event type\n  if (partType === \"close\" || partType === \"state_change_to_resolved\" || partType === \"state_change_to_closed\") {\n    if (p.created_at && p.created_at > resolvedAt) {\n      resolvedAt = p.created_at;\n      const au = getAuthor(p);\n      if (au.type === \"admin\" && au.name) {\n        resolverFromCloseEvent = au.name;\n      }\n    }\n  }\n  \n  // Check body text for resolution indicators\n  if (body.includes(\"resolved\") || body.includes(\"closed\")) {\n    if (partType.includes(\"state\") && p.created_at && p.created_at > resolvedAt) {\n      resolvedAt = p.created_at;\n      const au = getAuthor(p);\n      if (au.type === \"admin\" && au.name) {\n        resolverFromCloseEvent = au.name;\n      }\n    }\n  }\n}\n\n// If no resolution event found in parts, check ticket's state_updated_at\nif (!resolvedAt && ticket.state_updated_at) {\n  resolvedAt = ticket.state_updated_at;\n}\n\n// Final fallback: only use ticket created_at if ticket is resolved but we have no resolution time\nif (!resolvedAt && isResolved) {\n  resolvedAt = ticket.created_at || 0;\n}\n\nconst resolutionTimeSeconds = (resolvedAt && ticketCreatedAt && resolvedAt > ticketCreatedAt) ? (resolvedAt - ticketCreatedAt) : 0;\nconst resolutionTime = formatDuration(resolutionTimeSeconds);\n\n// Find creator\nlet creatorName = \"\";\nlet creatorEmail = \"\";\nconst firstAdminPart = parts.find(p => getAuthor(p).type === \"admin\");\nif (firstAdminPart) {\n  const au = getAuthor(firstAdminPart);\n  creatorName = au.name;\n  creatorEmail = au.email;\n} else {\n  creatorName = contactName;\n  creatorEmail = contactEmail;\n}\n\n// Track all assignments (admin AND team assignments)\nlet lastAdminNoteText = \"\";\nlet allAssignmentTimes = []; // Store timestamps of all assignment events\nlet hadReescalateToPSTF = false; // Track if ticket had \"Re-escalate to PSTF\" state\nlet hadCExReversalTeam = false; // Track if ticket was assigned to CEx Reversal team\nlet isInvalidTicket = false; // Track if ticket has \"404_invalid\" in any note\nlet invalidReason = \"\"; // Store the reason text from the note containing 404_invalid\nlet lastAssignedAdmin = \"\"; // Track the last admin assigned (this is the actual resolver candidate)\nlet isForwarded = false; // Track if ticket has \"fwd\" code in any note\nlet forwardedTo = \"\"; // Store the team name if forwarded\n\n// Check current team_assignee_id for CEx Reversal and Ticket Dependencies\nconst currentTeamId = String(ticket.team_assignee_id || \"\");\nif (currentTeamId === CEX_REVERSAL_TEAM_ID) {\n  hadCExReversalTeam = true;\n}\n\n// Check if current team is Ticket Dependencies (for Dependency Cleared)\nconst isDependencyCleared = (currentTeamId === TICKET_DEPENDENCIES_TEAM_ID);\n\nfor (const p of parts) {\n  const au = getAuthor(p);\n  const body = stripHtml(p?.body || p?.comment || p?.note || \"\");\n  const partType = norm(p?.part_type || p?.event_type || p?.type || \"\");\n  const partCreatedAt = p.created_at || 0;\n  \n  if (norm(au.type) === \"admin\" && body) lastAdminNoteText = body;\n  \n  // Check for Invalid Ticket code in notes (case-insensitive)\n  const bodyLower = body.toLowerCase();\n  if (bodyLower.includes(INVALID_TICKET_CODE.toLowerCase())) {\n    isInvalidTicket = true;\n    // Extract the reason by removing the 404_invalid code from the note\n    invalidReason = body\n      .replace(new RegExp(INVALID_TICKET_CODE, 'gi'), '')\n      .replace(/^[\\s\\-_:,;]+/, '')  // Remove leading punctuation/whitespace\n      .replace(/[\\s\\-_:,;]+$/, '')  // Remove trailing punctuation/whitespace\n      .trim();\n    if (!invalidReason) {\n      invalidReason = body;\n    }\n  }\n  \n  // Check for Forwarded code in notes (case-insensitive)\n  if (bodyLower.includes(FORWARD_CODE.toLowerCase())) {\n    isForwarded = true;\n    // Extract the team name from the note\n    const team = extractForwardTeam(body);\n    if (team) {\n      forwardedTo = team;\n    }\n  }\n  \n  // Check for CEx Reversal team assignment by ID\n  if (partType.includes(\"assign\") || partType === \"team_assignment\" || \n      partType === \"assignment\" || partType === \"assigned\") {\n    const assignedTo = p.assigned_to || p.assignee || {};\n    const assignedTeamId = String(assignedTo.id || \"\");\n    \n    // Check if assigned to CEx Reversal team\n    if (assignedTo.type === \"team\" && assignedTeamId === CEX_REVERSAL_TEAM_ID) {\n      hadCExReversalTeam = true;\n    }\n    \n    if (partCreatedAt > 0) {\n      allAssignmentTimes.push(partCreatedAt);\n    }\n    if (assignedTo.type === \"admin\" && assignedTo.name) {\n      lastAssignedAdmin = assignedTo.name; // Track last assigned admin\n    }\n  }\n  \n  // Also check body text for \"Re-escalate to PSTF\" mentions\n  if (bodyLower.includes(\"pstf\") && (bodyLower.includes(\"re-escalate\") || bodyLower.includes(\"reescalate\") || bodyLower.includes(\"re escalate\"))) {\n    hadReescalateToPSTF = true;\n  }\n}\n\n// Determine if this is a reversal ticket\nconst isReversalTicket = hadReescalateToPSTF || hadCExReversalTeam;\n\n// Find the ACTUAL handler (resolving agent) - STRICT LOGIC:\n// 1. Use the agent who performed the close/resolve action\n// 2. If not found, use the last assigned admin before resolution\n// 3. ONLY show the name if that person is on the allowlist\n// 4. If the actual resolver is NOT on the allowlist, leave EMPTY (no fallback to other agents)\n\nlet actualResolver = \"\";\n\n// Priority 1: Agent from close event\nif (resolverFromCloseEvent) {\n  actualResolver = resolverFromCloseEvent;\n}\n\n// Priority 2: Last assigned admin (if no resolver from close event)\nif (!actualResolver && lastAssignedAdmin) {\n  actualResolver = lastAssignedAdmin;\n}\n\n// STRICT CHECK: Only use the name if the actual resolver is on the allowlist\n// If not on allowlist, leave handler name EMPTY\nlet handlerName = \"\";\nif (actualResolver && isAllowedAgent(actualResolver)) {\n  handlerName = actualResolver;\n}\n// If actualResolver exists but is NOT on allowlist, handlerName stays empty\n// NO FALLBACK to other agents - this is intentional\n\n// Calculate Agent Handle Time from LAST assignment before resolution\nlet agentHandleTime = \"\";\nif (resolvedAt) {\n  const validAssignments = allAssignmentTimes\n    .filter(t => t > 0 && t <= resolvedAt)\n    .sort((a, b) => b - a); // Sort descending (latest first)\n  \n  if (validAssignments.length > 0) {\n    const lastAssignmentTime = validAssignments[0];\n    const handleTimeSeconds = resolvedAt - lastAssignmentTime;\n    agentHandleTime = formatDuration(handleTimeSeconds);\n  } else if (ticketCreatedAt > 0) {\n    const handleTimeSeconds = resolvedAt - ticketCreatedAt;\n    agentHandleTime = formatDuration(handleTimeSeconds);\n  }\n}\n\n// API already filtered by team+status, so qualifies = isResolved\nconst qualifies = isResolved;\n\n// Use resolution timestamp for Date, NOT ticket.updated_at\nconst date = toISODate(resolvedAt || ticket.created_at);\nconst uniqueId = `${date}|${ticketDisplayId}`;\n\n// In runOnceForEachItem mode, return single object (not array)\nreturn {\n  json: {\n    \"_filter_passed\": qualifies,\n    \"Unique ID\": uniqueId,\n    \"Date\": date,\n    \"Ticket ID\": ticketDisplayId,\n    \"Ticket Creator Agent Name\": creatorName,\n    \"Ticket Handler Agent Name\": handlerName,\n    \"Resolution Time\": resolutionTime,\n    \"Agent Handle Time\": agentHandleTime,\n    \"Ticket Status\": ticketStateLabel,\n    \"Description/Last Ticket Note\": lastAdminNoteText,\n    \"Issue Category\": issueCategory,\n    \"Dependency Cleared\": isDependencyCleared ? \"Yes\" : \"\",\n    \"Dependency No Update\": \"\",\n    \"Forwarded?\": isForwarded ? \"Yes\" : \"\",\n    \"Forwarded To\": forwardedTo,\n    \"Reversal Ticket?\": isReversalTicket ? \"Yes\" : \"\",\n    \"Invalid?\": isInvalidTicket ? \"Yes\" : \"\",\n    \"Reversal Reason\": invalidReason,\n    \"Ticket Creator's Email\": creatorEmail,\n    \"Email Communication?\": \"\"\n  }\n};\n"
            },
            "id": "9fd189ea-75d2-4023-bd6f-588a837a4f89",
            "name": "Transform Ticket Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -608,
                -5360
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "id": "c837d193-15a6-4069-8bea-5f3cfb6ddc19",
            "name": "Schedule Trigger (Every 1 Hour)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -2352,
                -5168
            ]
        },
        {
            "parameters": {
                "jsCode": "// Gate: do nothing until 2025-06-01 (UTC)\nconst START_UNIX = 1748736000;\nconst nowUnix = Math.floor(Date.now() / 1000);\n\nif (nowUnix < START_UNIX) {\n  return [];\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (typeof sd.last_sync !== 'number') sd.last_sync = START_UNIX;\n\nreturn [{\n  json: {\n    start_unix: START_UNIX,\n    now_unix: nowUnix,\n    last_sync: sd.last_sync\n  }\n}];\n"
            },
            "id": "08484db8-488d-4031-8b28-86546bab1c01",
            "name": "Gate: Start on 2026-01-3",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2128,
                -5168
            ]
        },
        {
            "parameters": {
                "url": "https://api.intercom.io/teams",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/json"
                        },
                        {
                            "name": "Intercom-Version",
                            "value": "2.11"
                        }
                    ]
                },
                "options": {
                    "response": {}
                }
            },
            "id": "37cd31b1-89cf-4529-a717-28338eb6e1a3",
            "name": "List Teams4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1888,
                -5168
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "NP8zyf9bSfqaxMj0",
                    "name": "Bearer Auth account 3"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Build team maps: id->name and name(lower)->id\n// STORE IN STATIC DATA so Transform Ticket Data can access without $() reference\n\nfunction ensureObj(x){\n  if (!x) return {};\n  if (typeof x === 'string'){\n    try { return JSON.parse(x); } catch { return {}; }\n  }\n  return x;\n}\n\nconst resp = ensureObj($json);\nconst teams = resp.teams || resp.data || [];\n\nconst idToName = {};\nconst nameToId = {};\n\nfor (const t of teams) {\n  if (!t || !t.id) continue;\n  const name = (t.name || '').trim();\n  idToName[t.id] = name;\n  if (name) nameToId[name.toLowerCase()] = t.id;\n}\n\n// Store in workflow static data for later access\nconst sd = $getWorkflowStaticData('global');\nsd.teamIdToName = idToName;\nsd.teamNameToId = nameToId;\n\nreturn [{\n  json: {\n    idToName,\n    nameToId\n  }\n}];\n"
            },
            "id": "766137ba-0a7d-49e0-b1b1-12e863491e03",
            "name": "Build Team Map4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1664,
                -5168
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build the Intercom /tickets/search request body.\n// Filter by TEAM + RESOLVED STATUS at API level\n// Date range: Last 6 hours from trigger time\n// Sort: Oldest first (ascending by updated_at)\n\nconst NOW_UNIX = Math.floor(Date.now() / 1000);\n// 6 hours = 6 * 60 * 60 = 21600 seconds\nconst SIX_HOURS_AGO = NOW_UNIX - 21600;\n\nconst sd = $getWorkflowStaticData('global');\nsd.run_max_updated_at = NOW_UNIX;\n\nconst teamMap = $('Build Team Map4').first().json || {};\nconst nameToId = teamMap.nameToId || {};\n\nfunction norm(s) { return (s || \"\").toString().trim().toLowerCase(); }\n\nconst TEAM_PSTF_NAME = \"Pro Solutions Task Force\";\nconst TEAM_DEPENDENCY_NAME = \"Ticket Dependencies\";\nconst TEAM_REVERSAL_NAME = \"CEx Reversal\";\n\nconst pstfTeamId = nameToId[norm(TEAM_PSTF_NAME)];\nconst depTeamId  = nameToId[norm(TEAM_DEPENDENCY_NAME)];\nconst revTeamId  = nameToId[norm(TEAM_REVERSAL_NAME)];\n\nconst targetTeamIds = [pstfTeamId, depTeamId, revTeamId].filter(Boolean);\n\nconst teamConditions = targetTeamIds.map(id => ({\n  field: \"team_assignee_id\",\n  operator: \"=\",\n  value: id\n}));\n\nconst stateConditions = [\n  { field: \"state\", operator: \"=\", value: \"resolved\" },\n  { field: \"state\", operator: \"=\", value: \"closed\" }\n];\n\n// Date range: last 6 hours to now\nconst queryConditions = [\n  { field: \"updated_at\", operator: \">=\", value: SIX_HOURS_AGO },\n  { field: \"updated_at\", operator: \"<=\", value: NOW_UNIX }\n];\n\nif (teamConditions.length === 1) {\n  queryConditions.push(teamConditions[0]);\n} else if (teamConditions.length > 1) {\n  queryConditions.push({\n    operator: \"OR\",\n    value: teamConditions\n  });\n}\n\nqueryConditions.push({\n  operator: \"OR\",\n  value: stateConditions\n});\n\nreturn [{\n  json: {\n    body: {\n      query: {\n        operator: \"AND\",\n        value: queryConditions\n      },\n      pagination: {\n        per_page: 150\n      },\n      sort: {\n        field: \"updated_at\",\n        order: \"ascending\"\n      }\n    },\n    meta: {\n      start_unix: SIX_HOURS_AGO,\n      end_unix: NOW_UNIX,\n      mode: \"LAST_6_HOURS\",\n      sort_order: \"oldest_first\",\n      target_teams: targetTeamIds,\n      states: [\"resolved\", \"closed\"]\n    }\n  }\n}];"
            },
            "id": "e4dc7bda-2e31-4ae4-aca8-17846d84c129",
            "name": "Build HTTP Body4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1456,
                -5168
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.intercom.io/tickets/search",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Intercom-Version",
                            "value": "2.11"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.body }}",
                "options": {
                    "response": {}
                }
            },
            "id": "e91cf59f-28df-4171-9bbb-d1e3f6ffb7d3",
            "name": "Search Tickets4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1248,
                -5168
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "3aJKqmWSz1EBLLuh",
                    "name": "Bearer Auth account 4"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract tickets from Intercom's tickets array\n// Returns multiple items for Get Ticket Details4 to process\n\nconst input = $json || {};\nconst tickets = input.tickets || [];\n\nconst results = [];\n\nfor (const ticket of tickets) {\n  const ticketId = ticket.id;\n  \n  if (ticketId) {\n    results.push({\n      json: {\n        \"id\": String(ticketId),\n        \"ticket_id\": String(ticket.ticket_id || \"\"),\n        \"state\": ticket.state || \"\",\n        \"team_assignee_id\": ticket.team_assignee_id || \"\"\n      }\n    });\n  }\n}\n\nreturn results;"
            },
            "id": "f4e6bc13-99f0-4ec0-9819-afa578b6cbbe",
            "name": "Extract Tickets",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1008,
                -5360
            ]
        },
        {
            "parameters": {
                "url": "=https://api.intercom.io/tickets/{{$json[\"id\"]}}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpBearerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Intercom-Version",
                            "value": "2.11"
                        }
                    ]
                },
                "options": {
                    "response": {}
                }
            },
            "id": "3ebe64a6-df4c-4e5d-85fd-029b065a16d7",
            "name": "Get Ticket Details4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -800,
                -5360
            ],
            "credentials": {
                "httpBearerAuth": {
                    "id": "Wb6mK3xsTXEujIUR",
                    "name": "Bearer Auth account 5"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json[\"_filter_passed\"] }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "b7a19308-d614-4cfe-b9c7-321082d063c0",
            "name": "Filter Passed?2",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -368,
                -5360
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1-fXqka0yFkPKNIcK9-RqRH-ZYRajYkghDkPrxMhbwII",
                    "mode": "list",
                    "cachedResultName": "PSTF Records (Automated) 3.0",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fXqka0yFkPKNIcK9-RqRH-ZYRajYkghDkPrxMhbwII/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Main Records",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fXqka0yFkPKNIcK9-RqRH-ZYRajYkghDkPrxMhbwII/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Unique ID": "={{ $json[\"Unique ID\"] }}",
                        "Date": "={{ $json[\"Date\"] }}",
                        "Ticket ID": "={{ $json[\"Ticket ID\"] }}",
                        "Ticket Creator Agent Name": "={{ $json[\"Ticket Creator Agent Name\"] }}",
                        "Ticket Handler Agent Name": "={{ $json[\"Ticket Handler Agent Name\"] }}",
                        "Resolution Time": "={{ $json[\"Resolution Time\"] }}",
                        "Agent Handle Time": "={{ $json[\"Agent Handle Time\"] }}",
                        "Ticket Status": "={{ $json[\"Ticket Status\"] }}",
                        "Description/Last Ticket Note": "={{ $json[\"Description/Last Ticket Note\"] }}",
                        "Issue Category": "={{ $json[\"Issue Category\"] }}",
                        "Dependency Cleared": "={{ $json[\"Dependency Cleared\"] }}",
                        "Dependency No Update": "={{ $json[\"Dependency No Update\"] }}",
                        "Forwarded?": "={{ $json[\"Forwarded?\"] }}",
                        "Forwarded To": "={{ $json[\"Forwarded To\"] }}",
                        "Reversal Ticket?": "={{ $json[\"Reversal Ticket?\"] }}",
                        "Invalid?": "={{ $json[\"Invalid?\"] }}",
                        "Reversal Reason": "={{ $json[\"Reversal Reason\"] }}",
                        "Ticket Creator's Email": "={{ $json[\"Ticket Creator's Email\"] }}",
                        "Email Communication?": "={{ $json[\"Email Communication?\"] }}"
                    },
                    "matchingColumns": [
                        "Unique ID"
                    ],
                    "schema": [
                        {
                            "id": "Unique ID",
                            "displayName": "Unique ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Date",
                            "displayName": "Date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Ticket ID",
                            "displayName": "Ticket ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Ticket Creator Agent Name",
                            "displayName": "Ticket Creator Agent Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Ticket Handler Agent Name",
                            "displayName": "Ticket Handler Agent Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Resolution Time",
                            "displayName": "Resolution Time",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Agent Handle Time",
                            "displayName": "Agent Handle Time",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Ticket Status",
                            "displayName": "Ticket Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Description/Last Ticket Note",
                            "displayName": "Description/Last Ticket Note",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Issue Category",
                            "displayName": "Issue Category",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Dependency Cleared",
                            "displayName": "Dependency Cleared",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Dependency No Update",
                            "displayName": "Dependency No Update",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Forwarded?",
                            "displayName": "Forwarded?",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Forwarded To",
                            "displayName": "Forwarded To",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Reversal Ticket?",
                            "displayName": "Reversal Ticket?",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Invalid?",
                            "displayName": "Invalid?",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Reversal Reason",
                            "displayName": "Reversal Reason",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Ticket Creator's Email",
                            "displayName": "Ticket Creator's Email",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Email Communication?",
                            "displayName": "Email Communication?",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "884bf8a9-09c8-4c19-b4fd-ef97eb4d2b63",
            "name": "Append or update row in sheet4",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -32,
                -5376
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "sMkPXGv2wf4LoWLd",
                    "name": "Google Sheets account 11"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Pagination + watermark update\n\nfunction clone(o) {\n  return JSON.parse(JSON.stringify(o));\n}\n\nfunction ensureObj(x) {\n  if (!x) return {};\n  if (typeof x === 'string') {\n    try { return JSON.parse(x); } catch { return {}; }\n  }\n  return x;\n}\n\nconst resp = ensureObj($json);\nconst pageNow = resp?.pages?.page ?? 1;\nconst nextCursor = resp?.pages?.next?.starting_after ?? null;\n\nconst sd = $getWorkflowStaticData('global');\nlet maxSeen = (typeof sd.run_max_updated_at === 'number') ? sd.run_max_updated_at : 0;\n\nconst tickets = Array.isArray(resp?.tickets) ? resp.tickets : [];\nfor (const t of tickets) {\n  const ua = (typeof t?.updated_at === 'number') ? t.updated_at : parseInt(t?.updated_at, 10);\n  if (!Number.isNaN(ua)) maxSeen = Math.max(maxSeen, ua);\n}\n\nsd.run_max_updated_at = maxSeen;\n\nconst baseBody = clone($(\"Build HTTP Body4\").first().json.body);\nbaseBody.pagination = baseBody.pagination || {};\nbaseBody.pagination.per_page = 150;\nif (nextCursor) baseBody.pagination.starting_after = nextCursor;\nelse delete baseBody.pagination.starting_after;\n\nconst MAX_PAGES = 2000;\nconst hasNext = Boolean(nextCursor) && pageNow < MAX_PAGES;\n\nif (!hasNext) {\n  const START_UNIX = 1748736000;\n  const current = (typeof sd.last_sync === 'number') ? sd.last_sync : START_UNIX;\n  sd.last_sync = Math.max(current, sd.run_max_updated_at || current);\n  delete sd.run_max_updated_at;\n}\n\nreturn [{\n  json: {\n    body: baseBody,\n    has_next: hasNext,\n    page_now: pageNow\n  }\n}];\n"
            },
            "id": "a98491cc-ead6-4aa1-91ac-4aa3548be225",
            "name": "Paginate: Prepare next body4",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1008,
                -5168
            ]
        },
        {
            "parameters": {},
            "id": "5a74f300-4bdf-4e0d-8a7d-47af10648840",
            "name": "Merge4",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                -672,
                -5120
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "ef34f615-6b27-4dd4-8386-54f5cc41d193",
                            "leftValue": "={{ $json.has_next }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "843829ac-4b49-4702-aae2-65a72fe911e6",
            "name": "If (Has Next Page?)4",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -336,
                -5120
            ]
        }
    ],
    "connections": {
        "Transform Ticket Data": {
            "main": [
                [
                    {
                        "node": "Filter Passed?2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger (Every 1 Hour)": {
            "main": [
                [
                    {
                        "node": "Gate: Start on 2026-01-3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gate: Start on 2026-01-3": {
            "main": [
                [
                    {
                        "node": "List Teams4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "List Teams4": {
            "main": [
                [
                    {
                        "node": "Build Team Map4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Team Map4": {
            "main": [
                [
                    {
                        "node": "Build HTTP Body4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build HTTP Body4": {
            "main": [
                [
                    {
                        "node": "Search Tickets4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Tickets4": {
            "main": [
                [
                    {
                        "node": "Paginate: Prepare next body4",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Extract Tickets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Tickets": {
            "main": [
                [
                    {
                        "node": "Get Ticket Details4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Ticket Details4": {
            "main": [
                [
                    {
                        "node": "Transform Ticket Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Passed?2": {
            "main": [
                [
                    {
                        "node": "Append or update row in sheet4",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Merge4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Append or update row in sheet4": {
            "main": [
                [
                    {
                        "node": "Merge4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Paginate: Prepare next body4": {
            "main": [
                [
                    {
                        "node": "Merge4",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge4": {
            "main": [
                [
                    {
                        "node": "If (Has Next Page?)4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If (Has Next Page?)4": {
            "main": [
                [
                    {
                        "node": "Search Tickets4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "b076ee236eeb0f1e0d5cf68bfef91d2e6b976d3c37b7dea8eeb4131cf958e05f"
    }
}